{% extends 'base.html' %}
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutpage</title>
{% block content %}
<h1>Aboutpage</h1>
<strong>about page</strong>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatibus nesciunt optio, eaque tempora nam harum enim iste? Voluptatum ipsam dolorem quaerat quo reprehenderit atque incidunt cumque delectus error facere!</p>
{% endblock content %}
   