
{% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages</title>
{% block content %}
<h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident et eligendi deserunt ipsa dolore vero rem quos enim culpa molestiae tempore consequuntur adipisci praesentium consequatur saepe molestias, quibusdam voluptate, repellendus modi, asperiores sit? Repellendus, nobis cum ut officia sint explicabo doloremque a ipsa unde cumque aliquam ipsum quas architecto minus deserunt quod reiciendis doloribus delectus quaerat! Est minus cupiditate vitae laborum atque reiciendis, eligendi sit, possimus maiores beatae nam ipsa magnam vel corrupti qui tempore facilis laudantium soluta ducimus? Ipsa nihil ratione laboriosam illum amet dolor quod rem aut perferendis iure possimus, blanditiis quibusdam, porro ut consequatur? Debitis, nisi accusamus!</p>
{% endblock content %}
    
